.main-editar-pelicula {
    width: 100%;
}

.main-editar-pelicula h2 {
    text-align: center;
}

.card-editar-pelicula {
    width: 80%;
    margin: 20px auto;
}

@media screen and (min-width: 768px) {
    .card-editar-pelicula {
        width: 60%;
    }
}

@media screen and (min-width: 1024px) {
    .card-editar-pelicula {
        width: 40%;
    }
}